@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

.block{
    background: rgb(49, 58, 73) url(..//img/unsplash_WgMDQsn36w4.png) center / cover no-repeat;
    border-radius: 0px 5px 5px 0px;
}

[class*="__container"]{
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.content{
    font-family: 'Poppins', sans-serif;
    padding-top: 330px;
    padding-bottom: 100px;
}


.content__date{
    margin-bottom: 15px;
}

.content__date, .content__text{
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    color: #e5e5e5;
}


.content__title{
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    max-width: 605px;
    color: #F8F9FA;
    margin-bottom: 15px;
}



.lists__container{
    max-width: 1170px;
    margin: o auto;
    padding: 80px 10px 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
    margin-left: 15px;
}

h2{
    font-weight: 400;
    font-size: 26px;
    line-height: 2.8;
    color: #212B36;
    margin-bottom: 25px;
    margin-left: 30px;
}


.list__1, .list__2, .list__3, .list__4, .list__5, .list__6 {
    font-size: 16px;
}



ul{
    display: inline-block;
    padding: 20px;
}

.list__1{
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 60px;
}

.list__2{
    display: inline-block;
    margin-right: 90px;
    margin-bottom: 60px;
}

.list__3{
    display: inline-block;
    margin-bottom: 60px;
}

.list__4{
    margin-right: 71px;
}

.list__5{
    margin-right: 0px;
}

.list__1 li{
    background: url('../img/list__1.png') 0 4px / 7px no-repeat;
    line-height: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    margin-left: 15px;
}

.list__2 li{
    background: url('../img/list__2.png') 0 4px / 20px no-repeat;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 2px;
    margin-left:15px;
    min-height: 25px;
}

.list__3 li{
    background: url('../img/list__3.png') 0 4px / 20px no-repeat;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 2px;
    margin-left: 15px;
    min-height: 25px;
}

.list__4 li{
    background: url('../img/list__4.png') 0 4px / 20px no-repeat;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 2px;
    margin-left: 15px;
    min-height: 25px;
}

.list__5 li{
    background: url('../img/list__5.png') 0 4px / 20px no-repeat;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 2px;
    margin-left: 15px;
    min-height: 25px;
}

.list__6 li{
    background: url('../img/list__6.png') 0 4px / 20px no-repeat;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 2px;
    margin-left: 15px;
    min-height: 25px;
}


.speaker{
    font-family: 'Inter', sans-serif;
    background: url(../img/speaker\ 1.png) 75% no-repeat, linear-gradient(115deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 63%, rgba(48,86,211,0.08) 63%), linear-gradient(115deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 68%, rgba(48,86,211,0.08) 68%) #f4f7ff;
}

.speaker__container{
    padding-top: 145px;
    padding-bottom: 145px;
}


[class*="__container"]{
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.speaker__block{
    max-width: 570px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Inter';
    font-style: normal;
}

.price{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    color: #3056D3;
    margin-bottom: 13px;
}

.speaker__text-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #212B36;
    margin-bottom: 15px;
}

.speaker__text-2{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
    margin-bottom: 35px;
}


.speaker__button{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background: #3056D3;
    border-radius: 30px;
    padding: 10px 30px;
}


.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 250px;
}

.practice__1{
    padding: 50px;
    background-color: rgb(69, 124, 124);
    background-image: linear-gradient(rgb(161, 52, 52), rgb(88, 83, 83) 100%);
    margin-bottom: 25px;
}

.practice__2{
    background-image: url("../img/download.jfif");
    background-repeat: repeat-x;
    background-position: 15px 0;
    margin-bottom: 25px;
}

.practice__3{
    background-image: url("../img/download\ \(1\).jfif");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50%;
    margin-bottom: 25px;
}

.practice__4{
    background-image: url("../img/download\ \(2\).jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 25px;
}


.practice__5{
    background-image: url("../img/download\ \(2\).jfif");
    background-repeat: no-repeat;
    background-size: 100px;
    margin-bottom: 25px;
}

.practice__6{
    background: green url("../img/download.jfif") center / contain no-repeat;
    margin-bottom: 25px;
}

.practice__7{
    background: url("../img/download.jfif") 0 0 no-repeat, url("../img/download\ \(2\).jfif") center / cover;
    margin-bottom: 25px;
}

.list li{
    line-height: 1.2;
    background: url("../img/list__2.png") 0 0 / 30px no-repeat;
    margin-bottom: 25px;
    padding-left: 50px;
    min-height: 40px;
}

.about{
    background-color: #637381;
    padding-bottom: 50px;
    padding-top: 50px;
}


.contacts{
    background-color: #3056D3;
    padding-bottom: 50px;
    padding-top: 50px;
}

