@import url("reset.css");

body{
    font-family: 'Poppins', sans-serif;
    color: #6C757D;
    font-size: 14px;
    font-weight: 300;
}

[class*="__container"]{
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.article{
    padding-top: 80px;
    padding-bottom: 80px;
}


.article__text-block{
    max-width: 816px;
    margin: 0 auto 80px;
}

.article__text-block p {
    line-height: 1.78;
    margin-bottom: 30px;
}

.article__title{
    color: #212529;
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 40px;
    font-weight: 700;
    max-width: 605px;
}

.article__images{
    font-size: 0;
    max-width: 100%;
    margin-bottom: 80px;
}


.article__image-1{
    margin-right: 30px;
}



.main{
    padding-top: 50px;
    padding-bottom: 50px;
}

[class*="__block"]{
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.second__picture{
    max-width: 100%;
    margin-bottom: 100px;
}

.picture{
    font-size: 0;
    max-width: 100%;
}

.text__block{
    max-width: 816px;
    margin: 0 auto 100px;
}

.text__block p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.78;
    margin-bottom: 14px;
    color: #6C757D;
}


.text__title{
    margin: 0 auto;
    max-width: 816px;
    font-weight: 700;
    font-size: 25px;
    line-height: 160%;
    color: #212529;
    margin-bottom: 100px;
}


.second__title{
    color: #212529;
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 40px;
    font-weight: 700;
    max-width: 605px;
}

.fotos{
    margin-bottom: 100px;
    max-width: 100%;
    font-size: 0;
}

.foto_5{
    margin-right: 30px;
}

.block-text{
    max-width: 816px;
    margin: 0 auto;
}

.block-text p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.78;
    margin-bottom: 14px;
    color: #6C757D;
}


.practice{
    max-width: 816px;
    margin: 0 auto;
    padding-top: 50px;
}

.block-1{
    font-family: 'Athiti', sans-serif;
    font-size: 15px;
    color: #0080c0;
    background-color: #ffa600;
    width: 500px;
    height: 70px;
    border: 10px dotted green;
    outline: 10px solid red;
    text-align: center;
    margin-bottom: 45px;
}

.block-1:hover{
    outline: 10px solid pink;
}

.block-2{
    font-family: 'Montagu Slab', serif;
    font-style: oblique;
    font-size: 25px;
    color: #b000c0;
    width: 850px;
    height: 150px;
    border-radius: 25px;
    text-align: justify;
    box-shadow: 5px 25px 70px 7px inset;
    line-height: 1.2;
    margin-bottom: 50px;
    padding: 25px;
    opacity: 0.5;
}

.button{
    font-size: 35px;
    display: inline-block;
    padding: 15px;
    background-color: purple;
    color: #ffa600;
    border-radius: 15px;
    border: 10px solid greenyellow;
    box-shadow: 1px 10px 0 0 grey;
    margin-bottom: 50px;
    position: relative;
}

.button:hover {
    top: 5px;
    box-shadow: 0px 5px 0 0 grey;
}

a:focus {
    outline: 5px solid blue;
}



