#list{
    color: blue;
}

.lesson,
.text{
    color: red;
}

.text > p{
    color: aqua;
}

.text ~ p{
    color: rgb(30, 255, 0);
}

.text + p{
    color: rgb(255, 238, 0);
}

.main_container,
.about_container{
    color: rgb(179, 78, 148);
}

[class*="_container"]{
    color: purple;
}

div{
    color:#e22b80;
}

h1{
    color: rgb(43, 226, 98);
}